# Telegram Bot Token。从 @BotFather 获取
BOT_TOKEN=12345:abc
# 本地 napcat websocket 服务器地址。自己在 Napcat WebUI 中配置
NAPCAT_WS_URL=ws://127.0.0.1:3001
# Telegram 群组 ID 列表，用逗号分隔。消息只会被转发到第一个群组，但会从所有群组接收消息转发到 QQ 群。
GROUP_IDS=-1000000000000
# 目标 QQ 群号
QQ_GROUP_ID=1234567
# 缓存目录。可以不存在
CACHE_DIR=runtime/
# 数据库位置，用于存储 tg<->qq 消息映射关系。可以不存在
DB_PATH=messages.sqlite3
# FFmpeg 可执行文件路径，用于处理媒体文件
FFMPEG_EXECUTABLE=/usr/bin/ffmpeg